.layoutXBox{
  height: 100%;
}
.headerBox{
  border-bottom: 1px solid #efefef;
  line-height: 60px;
}
.mainBox{
  background: #efefef;
}
.footerBox{
  border-top: 1px solid #efefef;
  line-height: 60px;
}
