/* 改变主题色变量 */
$--color-primary: #d20032;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-plus/lib/theme-chalk/fonts';

@import "~element-plus/packages/theme-chalk/src/index";

html,body,p{
  padding: 0;
  margin: 0;
}
body,html,#app{
  height: 100%;
}
//el-drawer
.el-drawer {
  .el-drawer__header{
    border-bottom: 1px solid #efefef;
    padding: 10px 20px;
    margin-bottom: 0;
  }
  .el-drawer__body{
    padding:10px;
  }
}
